<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digicap.dcblock.caffeapiserver.store.MenuMapper">
    <select id="insertMenu" resultType="com.digicap.dcblock.caffeapiserver.dto.MenuVo">
        INSERT
        INTO
            menus
            (
                category,
                name_kr,
                name_en,
                price,
                dc_digicap,
                dc_covision,
                opt_type,
                opt_size,
                "order"
            )
        VALUES
        (
            #{category},
            #{name_kr},
            #{name_en},
            #{price},
            #{dc_digicap},
            #{dc_covision},
            #{opt_type},
            #{opt_size},
            (SELECT MAX("order") + 1 FROM menus WHERE category = #{category})
        )
        RETURNING *
    </select>
    <update id="updateAllMenuByCategory" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE
                menus
            SET
                <if test="item.order > -1">"order" = #{item.order},</if>
                <if test="item.name_en != null">name_en = #{item.name_en},</if>
                <if test="item.name_kr != null">name_kr = #{item.name_kr},</if>
                <if test="item.price > -1">price = #{item.price},</if>
                <if test="item.dc_digicap > -1">dc_digicap = #{item.dc_digicap},</if>
                <if test="item.dc_covision > -1">dc_covision = #{item.dc_covision},</if>
                <if test="item.opt_size > -1">opt_size = #{item.opt_size},</if>
                <if test="item.opt_type > -1">opt_type = #{item.opt_type}</if>
            WHERE
                code = #{item.code}
            AND
                category = #{item.category}
        </foreach>
    </update>
</mapper>