<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digicap.dcblock.caffeapiserver.store.MenuMapper">
  <select id="insertMenu" resultType="com.digicap.dcblock.caffeapiserver.dto.MenuVo">
    INSERT
    INTO
      menus
      (
         category,
         name_kr,
         name_en,
         price,
         dc_digicap,
         dc_covision,
         opt_type,
         opt_size,
         "order"
      )
    VALUES
      (
         #{category},
         #{name_kr},
         #{name_en},
         #{price},
         #{dc_digicap},
         #{dc_covision},
         #{opt_type},
         #{opt_size},
         (SELECT MAX("order") + 1 FROM menus WHERE category = #{category})
      )
    RETURNING *
  </select>
</mapper>