<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digicap.dcblock.caffeapiserver.store.PasswordSessionMapper">
  <select id="selectAllSession" resultType="java.util.LinkedHashMap">
    SELECT
      *
    FROM
      password_session
  </select>
</mapper>