<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digicap.dcblock.caffeapiserver.store.PurchaseMapper">
    <resultMap type="com.digicap.dcblock.caffeapiserver.dto.PurchaseVo" id="purchase">
        <result column="opt_type" property="opt_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
        <result column="opt_size" property="opt_size" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
        <result column="purchase_type" property="purchase_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
    </resultMap>

    <insert id="insertPurchase" parameterType="com.digicap.dcblock.caffeapiserver.dto.PurchaseDto">
        INSERT INTO purchases (
            count,
            price,
            dc_price,
            name,
            user_record_index,
            category,
            code,
            menu_name_kr,
            opt_size,
            opt_type,
            receipt_id,
            purchase_type,
            email,
            company
        )
        VALUES (
            #{count},
            #{price},
            #{dc_price},
            #{name},
            #{user_record_index},
            #{category},
            #{code},
            #{menu_name_kr},
            #{opt_size.code},
            #{opt_type.code},
            #{receipt_id},
            #{purchase_type},
            #{email},
            #{company}
        )
    </insert>

    <select id="updateReceiptCancelStatus" resultMap="purchase">
        <![CDATA[
        UPDATE
            purchases
        SET
            receipt_status = '1',
            cancel_date = 'now()',
            update_date = 'now()'
        WHERE
            receipt_id = #{receiptId}
        AND
            receipt_status = '0'
        AND
            (SELECT CURRENT_DATE) <= purchase_date
        AND
            purchase_date < (SELECT CURRENT_DATE + 1)
        ]]>
        RETURNING *
    </select>

    <select id="updateReceiptCancelApprovalStatus" resultMap="purchase">
        <![CDATA[
        UPDATE
            purchases
        SET
            receipt_status = '2',
            canceled_date = 'now()',
            update_date = 'now()'
        WHERE
            receipt_id = #{receiptId}
        AND
            receipt_status = '1'
        AND
            #{from} <= purchase_date
        AND
            purchase_date < #{to}
        ]]>
        RETURNING *
    </select>

    <select id="selectAllCancel" resultMap="purchase">
        SELECT
            count,
            price,
            dc_price,
            name,
            user_record_index,
            code,
            menu_name_kr,
            receipt_status,
            opt_size,
            opt_type,
            update_date,
            cancel_date,
            purchase_date,
            canceled_date,
            index,
            receipt_id,
            purchase_type
        FROM
            purchases
        <![CDATA[
        WHERE
            #{before} <= update_date
        AND
            update_date <= #{after}
        ]]>
        <if test = 'company != null and company != ""'>
        AND
            company = #{company}
        </if>
        AND
            (receipt_status = '1' OR receipt_status = '2')
        ORDER BY
            purchase_date
        DESC
        <if test = 'page > 0'>
        LIMIT
            #{perPage}
        OFFSET
            (#{page} - 1) * #{perPage}
        </if>
    </select>
    <select id="selectByReceiptId" resultType="java.sql.Timestamp">
        <![CDATA[
        SELECT
            update_date
        FROM
            purchases
        WHERE
            receipt_id = #{receiptId}
        AND
            user_record_index = #{userRecordIndex}
        AND
            receipt_status = '0'
        AND
            (SELECT CURRENT_DATE) <= update_date
        AND
            update_date < (SELECT CURRENT_DATE + 1)
        ORDER BY
            update_date
        DESC
        ]]>
    </select>
    <select id="existReceiptId" resultType="boolean">
        <![CDATA[
        SELECT EXISTS(
            SELECT
                1
            FROM
                purchases
            WHERE
                receipt_id = #{receiptId}
            AND
                #{from} <= purchase_date
            AND
                purchase_date < #{to}
        )
        ]]>
    </select>
    <select id="selectAllUser" resultMap="purchase">
        SELECT
            count,
            price,
            dc_price,
            name,
            user_record_index,
            code,
            menu_name_kr,
            receipt_status,
            opt_size,
            opt_type,
            update_date,
            cancel_date,
            purchase_date,
            canceled_date,
            index,
            receipt_id,
            email,
            company,
            purchase_type
        FROM
            purchases
        <![CDATA[
        WHERE
            #{before} <= update_date
        AND
            update_date <= #{after}
        ]]>
        <if test = "userRecordIndex > 0">
        AND
            user_record_index = #{userRecordIndex}
        </if>
        <if test = 'company != null and company != ""'>
        AND
            company = #{company}
        </if>
        ORDER BY
            purchase_date
        DESC
    </select>

    <select id="selectSearchBy" resultMap="purchase">
        SELECT
            *
        FROM
            purchases
        <![CDATA[
        WHERE
            #{before} <= update_date
        AND
            update_date <= #{after}
        ]]>
        <if test = "userRecordIndex > 0">
        AND
            user_record_index = #{userRecordIndex}
        </if>
        <if test = 'company != null and company != ""'>
        AND
            company = #{company}
        </if>
        <if test="purchaseType > -1">
        AND
            purchase_type = #{purchaseType}
        </if>
        ORDER BY
            purchase_date
        DESC
        <if test = 'page > 0'>
        LIMIT
            #{perPage}
        OFFSET
            (#{page} - 1) * #{perPage}
        </if>
    </select>

    <select id="selectCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            purchases
        <![CDATA[
        WHERE
            #{before} <= update_date
        AND
            update_date <= #{after}
        ]]>
        <if test = "userRecordIndex > 0">
        AND
            user_record_index = #{userRecordIndex}
        </if>
        <if test = 'company != null and company != ""'>
        AND
            company = #{company}
        </if>
        <if test="purchaseType > -1">
        AND
            purchase_type = #{purchaseType}
        </if>
    </select>

    <select id="selectAllCancelCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            purchases
        <![CDATA[
        WHERE
            #{before} <= update_date
        AND
            update_date <= #{after}
        ]]>
        AND
            (receipt_status = '1' OR receipt_status = '2')
        <if test = 'company != null and company != ""'>
        AND
            company = #{company}
        </if>
    </select>

    <select id="selectBalanceAccounts" resultType="hashmap">
        SELECT
            user_record_index AS index,
            SUM(price * count) AS balance,
            SUM(dc_price * count) AS dcbalance
        FROM
            purchases
        WHERE
            user_record_index = #{userRecordIndex}
        AND
        <![CDATA[
            #{before} <= purchase_date
        AND
            purchase_date <= #{after}
        ]]>
        <if test="purchaseType != -1">
        AND
            (purchase_type = 0 OR purchase_type = 2)
        </if>
        <if test="receiptStatus != -2">
        AND
            (receipt_status = 0 OR receipt_status = 1)
        </if>
        GROUP BY
            user_record_index
        ORDER BY
            user_record_index DESC
    </select>

    <select id="selectBalanceAccountLastMonth" resultType="hashmap">
        SELECT
            user_record_index, email, name, company, SUM((price * count) - (dc_price * count)) AS balance
        FROM
            purchases
        WHERE
        <![CDATA[
            (SELECT ((SELECT date_trunc('month', timestamp 'today')) - interval '1 month')) <= purchase_date
        AND
            purchase_date < (SELECT date_trunc('month', timestamp 'today'))
        ]]>
        AND
            (purchase_type = 0 OR purchase_type = 2)
        AND
            (receipt_status = 0 OR receipt_status = 1)
        GROUP BY
            user_record_index, email, name, company
        ORDER BY
            user_record_index DESC
    </select>

    <select id="selectBalanceAccountMonthBeforeLast" resultType="hashmap">
        SELECT
            user_record_index, email, name, company, SUM((price * count) - (dc_price * count)) AS balance
        FROM
            purchases
        WHERE
        <!-- 지지난 달에 구입은 했고 -->
        <![CDATA[
            (SELECT ((SELECT date_trunc('month', timestamp 'today')) - interval '2 month')) <= purchase_date
        AND
            purchase_date < (SELECT ((SELECT date_trunc('month', timestamp 'today')) - interval '1 month'))
        AND
            (SELECT ((SELECT date_trunc('month', timestamp 'today')) - interval '1 month')) <= canceled_date
        AND
            canceled_date < (SELECT date_trunc('month', timestamp 'today'))
        ]]>
        AND
            purchase_type = 0 
        AND
            receipt_status = 2
        GROUP BY
            user_record_index, email, name, company
        ORDER BY
            user_record_index DESC
    </select>

    <insert id="insertCarriedBalanceForward">
        DELETE FROM 
            purchases 
        WHERE 
            purchase_type = '2' 
        AND 
            user_record_index = '61' 
        AND 
        <![CDATA[
            (SELECT date_trunc('month', timestamp 'today')) <= purchase_date
        AND 
            purchase_date < (SELECT ((SELECT date_trunc('month', timestamp 'today')) + interval '1 month'));
        ]]>
        INSERT INTO purchases
            (purchase_type, name, email, company, count, price, receipt_status, user_record_index)
        VALUES
            ('2', #{name}, #{email}, #{company}, '1', #{balance}, '1', #{user_record_index})
    </insert>
</mapper>